[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
nbconvert = "*"
dvc = "*"
dvc-s3 = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.9"
